html
	head
		title	Dashboard
		link(rel="stylesheet",href="./build/index.css",type="text/css",media="screen",charset="utf-8")
		link(rel="stylesheet",href="./sample.css",type="text/css",media="screen",charset="utf-8")
	body
		div#dashboard.container-fluid
			div.row-fluid
				div#g2-3.span12
			div.row-fluid
				div#g2-1.span6
				div#g2-2.span6
		script(type="text/javascript",src="./vendor/js/jquery-1.7.1.min.js")
		script(type="text/javascript",src="./build/index.js")
		script(type="text/javascript",src="./example-dash.js")
